<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../style/about_us.css" />
    <script src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<!--导航栏开始-->
<nav class="navbar navbar-default navbar-fixed-top" id="nav-conter">
    <div class="container">
        <div class="row">
            <div class="login-reg navbar-left col-md-2">
                <a href="../../login/loginBefore.html">登录</a>&nprcue;
                <a href="../../login/loginBefore.html">注册</a>
            </div>
            <div class="navbar-header col-md-2 ">
                <div class="">
                    <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#bs-example" id="buttons">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="../images/logo.png.png" alt="" class="img-responsive media-object navbar-right">
                </div>

            </div>
            <div class="collapse navbar-collapse navbar-right col-md-8 " id="bs-example">
                <ul class="nav navbar-nav navbar-right">
                    <li class="back"><a href="../../home_page/template/home_page.html">返回首页</a></li>
                    <li><a href="#">我的店铺</a></li>
                    <li><a href="#">手机店铺</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">帮助中心</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--导航栏结束-->

<!--文本-->
<div class="container about-top ">
    <div class="col-lg-6 col-xs-12">
        <div class="about-size">
            <div>
                <span>樱桃服饰有限公司--于2013年1月正式挂牌成立，主要经营 各种女装。公司秉承"顾客至上，锐意进取"的经营</span><br>
                <span>理念，坚持"客户第一"的原则为广大客户提供优质的服务。欢迎惠顾！公司产品在消费者当中享有较高的地位，</span><br>
                <span>并与多家零售商和省级市级代理商建立了长期稳定的合作关系。公司，重信用、守合同、保证产品质量，赢得了广</span><br>
                <span>大客户的信任。坚持"以生活总是美好的"的理念，为女性创造健康的时尚事业。</span><br>
                <span>我们也将品牌的发展构思，传播给每一位合作伙伴！诚邀国内外事业投资人士，共创双赢的辉煌明天！</span>
            </div>
            <div class="about-up">
                <img src="../images/tx.png.png" class="about-center"/>
                <div class=" about-center about-text">
                    <span>创始人：池莉（Cherry）现任与广州 Cherry 总公司董事长，2013年赴法国巴黎年度秀场，</span><br>
                    <span>当人设计督导得完美成功，2015年樱桃 Cherry 品牌米兰秀场，2016cherry进军法国时尚界</span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="about-up2">
                <span>Founder: Chi Li(Cherry)and the current chairman of the board of directors of the company</span><br>
                <span>in Guangzhou,Paris,2013 to the annual show in,when any designSupervision to obtain the perfect</span><br>
                <span>success,2015 cherry Cherry brandMilan show,cherry in 2016 to enter the French fashion industry.</span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="about-margin-left">
            <div class="about-size about-center2">
                <span class="">合作企业</span>
            </div>
            <div class="about-imgx">
                <img src="../images/p1.png.png" ><img src="../images/p2.png.png" ><img src="../images/p3.png.png" ><img src="../images/p4.png.png" ><img src="../images/p5.png.png" ><img src="../images/p6.png.png" ><img src="../images/p7.png.png" ><img src="../images/p8.png.png" ><img src="../images/p9.png.png" ><img src="../images/p10.png.png" ><img src="../images/p11.png.png" ><img src="../images/p12.png.png" ><img src="../images/p13.png.png" ><img src="../images/p14.png.png" ><img src="../images/p15.png.png" >
            </div>
        </div>
    </div>
</div>

<!--结束文本-->

<!--图片区-->
    <div class="about-top3">
        <div class="container">
            <!--left是浮动图片对齐-->
            <div class="col-lg-12 col-xs-12 left">
                <div>
                    <a href="#" class="about-color">我们的故事</a>
                </div>
                <div>
                    <img src="../images/g1.png.png" class="about-img2" />
                    <img src="../images/g2.png.png" class="about-img3" />
                    <img src="../images/g3.png.png" class="about-img4" />
                </div>
            </div>
        </div>
    </div>
<!--图片结束-->

<!--最后-->
<div class="about-top4">
        <div class="row">
                <div class="col-lg-12 col-xs-12 about-wire">
                    <div class="about-control">
                        <img src="../images/dh.png.png">
                        <span>全国24小时客服热线：020-12345678</span>
                    </div>
                </div>

                <div class="col-lg-12 col-xs-12 about-wire2">
                    <div class="about-control2">
                        <span>网络文化经营许可证: 浙网文[2015]0295-065号</span>
                        <span>浙公网安备 330100002000120号</span>
                        <span>&copy;2003-2017 Siuu.COM 版权所有</span>
                    </div>
                </div>
        </div>
</div>
<!--最后结束-->
</body>
</html>