<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../style/home_page.css">


</head>
<body>
<!--导航栏开始-->
<nav class="navbar navbar-inverse navbar-fixed-top " id="nav">
    <div class="container">
        <div class="navbar-header col-lg-6 col-md-7">
            <div class="col-lg-4 col-lg-offset-4 nav-header-top">
                    <a href="../../login/loginBefore.html">登入</a>&nbsp;&nbsp;<a href="../../login/loginBefore.html">注冊</a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand col-lg-1 col-lg-offset-3" href="#">
                <img class="nav-logo " src="../images/logo.png.png" alt=""></a>
        </div>
        <div class="col-lg-6 col-md-5   ">
            <div id="navbar" class="collapse navbar-collapse ">

                <ul class="nav navbar-nav nav-lists nav-bo">
                    <li><a href="#">首页</a></li>
                    <li>
                        <a href="#" class="myshop">
                            我的店铺
                        </a>
                        <ul class="nav-con">
                        <li><a  id="nav-con-top" href="">我已买的宝贝</a></li>
                        <li><a   id="nav-con-mid" href="">我关注的宝贝</a></li>
                        <li><a   id="nav-con-bottom" href="">我的个人信息</a></li>
                        </ul>
                    </li>
                    <li><a href="#">手机客户端</a></li>
                    <li><a href="../../about_us/template/about_us.html">关于我们</a></li>
                    <li><a href="#">帮助中心</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--导航栏结束-->
<!--中间的banner开始-->

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li  data-target="#carousel-example-generic" data-slide-to="0" class="ban-item active"></li>
                <li class="ban-item" data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li class="ban-item" data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li class="ban-item" data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../images/banner.png%20(2).png" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="../images/banner.png.png" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="../images/banner.png.png" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="../images/banner.png.png" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                ...
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon  " aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon  " aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

<!--中间的banner结束-->
<!--中间的商品分类开始-->
<nav class="navbar navbar-inverse  " id="nav-mid" >
    <div class="container row ">
        <div class="navbar-header col-lg-4 col-md-4  col-xs-6 navbarr ">
            <div class="nav-pro col-lg-6 col-md-6 col-xs-10 ">
                <img src="../images/spflbz.png.png" style="width: 20px; height: 17px ; " > <a id="pro-name" href="#">商品分类</a>
            </div>
            <!--商品分类的黑色阴影-->
            <div class="nav-pro-con  col-xs-6 hidden-xs ">
                <div class="nav-pro-con-left ">
                    <ul  >
                        <li class="nav-pro-con-left-li">
                            当季流行款式
                            <div class="nav-pro-con-mid">
                                <ul>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                </ul>
                            </div>


                        </li>
                        <li class="nav-pro-con-left-li">
                            当季热卖款式
                            <div class="nav-pro-con-mid">
                                <ul>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                </ul>
                            </div>

                        </li>
                        <li class="nav-pro-con-left-li">
                            蕾丝连衣裙系
                            <div class="nav-pro-con-mid">
                                <ul>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                </ul>
                            </div>

                        </li>
                        <li class="nav-pro-con-left-li">
                            印花连衣裙系
                            <div class="nav-pro-con-mid">
                                <ul>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-pro-con-left-li">
                            真丝连衣裙系
                            <div class="nav-pro-con-mid">
                                <ul>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                </ul>
                            </div>

                        </li>
                        <li class="nav-pro-con-left-li">
                            棉麻布连衣裙
                            <div class="nav-pro-con-mid">
                                <ul>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                    <li>2017年新款连衣裙</li>
                                </ul>
                            </div>

                        </li>
                        <li class="nav-pro-con-left-li">
                            优雅百褶裙系


                        </li>
                        <li class="nav-pro-con-left-li">
                            职场半身裙系


                        </li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="col-lg-8   col-md-8  pro-img col-xs-6">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-3  "   ><a href="#"><img  class="img-responsive"  src="../images/y1.png.png" alt=""></a></div>
                <div class="col-lg-3 col-md-3 col-xs-3"   ><a href="#"><img  class="img-responsive"  src="../images/y2.png.png" alt=""></a></div>
                <div class="col-lg-3 col-md-3 col-xs-3"   ><a href="#"><img  class="img-responsive"  src="../images/y3.png.png" alt=""></a></div>
                <div class="col-lg-3 col-md-3 col-xs-3"   ><a href="#"><img  class="img-responsive"  src="../images/y4.png.png" alt=""></a></div>
            </div>
        </div>
    </div>
</nav>

<!--中间的商品分类结束-->
<!--品牌标注开始-->
<div class="container-fluid">
    <div class="row  login-top">
        <!--右边的个人条-->
        <div class="login navbar-right ">
            <ul>
                <li><img src="../images/kftx.png.png" alt=""><a  class="login-count" href="">账号</a></li>
                <li><a id="login-cart" href="../../cart/template/cart.html">购物车</a></li>
                <li><a  class="moeny" href="">￥</a></li>
                <li> </li>
                <li> </li>
                <li> </li>
                <li> </li>
                <li> </li>
            </ul>
        </div>

        <div class="brand-top col-lg-3 col-lg-offset-6 col-xs-10 col-xs-offset-2">BRAND &nbsp;&nbsp;CHOICE</div>

    </div>
    <div class="brand-mid">
    <div class="row">
        <div class="brand-bottom-1 col-lg-6 col-lg-offset-4  col-xs-9 col-xs-offset-2 hidden-xs">
            <img src="../images/p1.png.png" alt="">
            <img src="../images/p2.png.png" alt="">
            <img src="../images/p3.png.png" alt="">
            <img src="../images/p4.png.png" alt="">
            <img src="../images/p5.png.png" alt="">
            <img src="../images/p6.png.png" alt="">
            <img src="../images/p7.png.png" alt="">
            <img src="../images/p8.png.png" alt="">
        </div>
        <div class="brand-bottom-2 col-lg-6 col-lg-offset-4 col-xs-9 col-xs-offset-1">
            <img src="../images/p9.png.png" alt="">
            <img src="../images/p10.png.png" alt="">
            <img src="../images/p11.png.png" alt="">
            <img src="../images/p12.png.png" alt="">
            <img src="../images/p13.png.png" alt="">
            <img src="../images/p14.png.png" alt="">
            <img src="../images/p15.png.png" alt="">
            <img src="../images/p16.png.png" alt="">
        </div>
    </div>

    </div>
</div>
<!--品牌标注结束-->
<!--图片展示开始-->
<div  class=" con1"  >
    <div class="row ">
        <div class=" con1-img1   col-xs-6"><img   src="../images/ks1.png.png " alt=""></div>
        <div class="  con1-img2     col-xs-6"><img    src="../images/ks2.png.png" alt=""></div>
        <div class="row">
            <div class="  con1-img3    col-xs-6   "><img   src="../images/ks3.png.png" alt=""></div>
            <div class="  con1-img4      col-xs-6  "><img   src="../images/ks4.png.png" alt=""></div>

        </div>

    </div>
</div>
<!--图片展示结束-->
<!--热卖服装开始-->
<div class="row">
    <div class=" hot-pro col-lg-9 col-lg-offset-2 col-xs-9 col-xs-offset-1 ">
        <ul>
            <li>
                <a href="">
                    3月10号热卖款式
                </a>
            </li>
            <li>
                <a href="">
                    3月11号热卖款式
                </a>
            </li>
            <li>
                <a href="">
                    3月12号热卖款式
                </a>
            </li>
            <li>
                <a href="">
                    3月13号热卖款式
                </a>
            </li>
        </ul>
    </div>
</div>

<!--热卖服装中的轮播开始-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
    <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
    <!--</ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active com-banner">
            <img  src="../images/rmksbj.png.png" alt="...">
            <div class="carousel-caption  hot-banner">
                <div class="hot-banner1">
                    <span class="hot-banner-top">当季热卖款式//</span>
                    <span class="hot-banner-left">棉麻连衣裙</span>
                    <img  class="hidden-xs" src="../images/mt.png.png" alt="">
                    <span class="hot-banner-righttop">浪漫春日&nbsp;优雅随行</span>
                    <span class="hot-banner-rightmid">针织开叉黑裙</span>
                    <span class="hot-banner-rightbottom">￥136&nbsp;|&nbsp;1548人喜欢</span>
                    <span ><a  class="hot-banner-rightbottom1" href="">查看详情</a></span>
                </div>

            </div>
        </div>
        <div class="item">
            <img src="../images/rmksbj.png.png" alt="...">
            <div class="carousel-caption">

            </div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--热卖服装中的轮播结束-->
<!--热卖服装结束-->
<!--针织裙展示开始-->
<div class="skirt">
    <div class="skirt-right hidden-xs">
        <span class=" skirt-top">针织开叉黑裙</span>
        <span class="skirt-mid">￥136&nbsp;|&nbsp;1548人喜欢</span>
        <span ><a  class="skirt-bottom" href="">查看详情</a></span>
        <span class="skirt-left1">任何场合都少不了</span>
        <span class="skirt-left2">一条精致的裙装</span>

    </div>

    <div class="black-skirt1" ><img src="../images/dcp.png.png" alt=""></div>
    <div class="black-skirt2 hidden-xs"><img src="../images/xcp.png.png" alt=""></div>
    <div class="more hidden-xs"><a id="font" href="">more</a></div>
</div>

<!--针织裙展示结束-->
<!--新品服装开始-->
<div class="row">
    <div class="black-top  col-xs-12">
    <span class="font col-xs-4">
        NEW
    </span>
        <div class="black col-xs-8">
        </div>
    </div>
</div>

<div class="new hidden-xs">
    <div class="new-left"> <img src="../images/bjhk.png.png" alt=""></div>
    <div class="new-mid"><img src="../images/nfhlcp.png.png" alt=""></div>
    <div class="new-right"> <img src="../images/bjlk.png.png" alt=""></div>
        <div class=" font1">
            <span class="font1-left">没有洪荒之力</span><span class="font1-right">也要美到窒息</span>
        </div>
    <div class="detail">
        <span class="detail-top">红蓝格子A字群</span>
        <span class="detail-mid">￥136&nbsp;|&nbsp;1548人喜欢</span>
        <span ><a class="detail-bottom" href="">查看详情</a></span>
    </div>
    <div class="more1">
        <hr>
        <div class="icon-bar">more </div>

    </div>



</div>
<!--看我72遍开始-->
<div class="change72" >
    <div class="change72-top ">|看我七十二变|</div>
    <div class="row">
        <div class="col-lg-5 cp1 col-xs-4 col-xs-offset-1 "><img src="../images/cp1.png.png" alt="">
            <div class="  same hidden-xs">
                <img src="../images/tk1.png.png" alt="">
                <div class="samepro">同款|</div>
                <div class="same-top">红蓝格子A字群</div>
                <div class="same-mid">查看详情</div>
                <div class="same-bottom">1548人喜欢</div>
                <img class="like" src="../images/sx.png.png" alt=""><div class="same-like">喜欢</div>
            </div>
            <div class="   same hidden-xs">
                <img src="../images/tk2.png.png" alt=""></div>
            <div class=" same hidden-xs"><img src="../images/tk3.png.png" alt=""></div>
            <div  class="  same hidden-xs"><img src="../images/tk4.png.png" alt=""></div>
        </div>
        <div class="col-lg-5 cp1  col-xs-4 col-xs-offset-1  cp2">
            <!--<div class="samepro samepro2">同款|</div>-->
            <img src="../images/cp2.png.png" alt="">

        </div>
        <div class="col-lg-5 cp1  col-xs-4 col-xs-offset-1 cp3">
            <!--<div class="samepro ">同款|</div>-->
            <img src="../images/cp3.png.png" alt="">

        </div>
        <div class="col-lg-5 cp1  col-xs-4 col-xs-offset-1  cp4"><img src="../images/cp4.png.png" alt=""></div>
        <div class="col-lg-5 cp1  col-xs-4 col-xs-offset-1  cp5"><img src="../images/cp5.png.png" alt=""></div>
        <div class="col-lg-5 cp1  col-xs-4 col-xs-offset-1  cp6"><img src="../images/cp6.png.png" alt=""></div>
    </div>

</div>
<!--看我72遍结束-->

<script src="../direction/home_page.js"></script>
<!--新品服装结束-->
<!--回到底部的开始-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <!--<div class="container">-->

        <div class="nav-bottom" >

                <a href="">回到顶部</a>


           <div class="level"></div>
        </div>

    <!--</div>-->
</nav>
<!--回到底部的结束-->
<!-- 底部开始-->
<footer class="imdex-footer">
    <div class="container">
        <div class="row">
            <div class="footer col-lg-12">
                <div class="footer-heade col-lg-6 col-lg-offset-3">
                    <input type="text" class="col-lg-8 hidden-xs " />
                    <input type="button" class="col-lg-4 hidden-xs" />
                    <div class="footer-heade-span col-lg-12 hidden-xs">
                        关键词:<span>蕾丝连衣裙</span><span>蕾丝连衣裙</span><span>蕾丝连衣裙</span><span>蕾丝连衣裙</span>
                    </div>
                </div>
                <img src="../images/sdbz.png.png" class="col-lg-12 footer-img img-responsive   footerr">
                <div class="footer-bootom col-lg-offset-2 col-lg-10">
                    <img src="../images/dhtb.png.png "  class="footer-bootom-img hidden-xs" >
                    <div class="f-b-div hidden-xs">
                        <p>020-12345678</p>
                        <p>020-12345678</p>
                        <p>020-12345678</p>
                    </div>
                    <div class="f-b-div2">
                        <img src="../images/ewm1.png.png"  class="hidden-xs">
                        <img src="../images/ewm2.png.png" class="hidden-xs">
                    </div>
                </div>
                <div class="col-lg-offset-2 col-lg-10 f-footer col-xs-7 col-xs-offset-2   f-bottom">
                    <p>
                        <span>网络文化经营许可证:浙网文[2015]0295-065号</span>  &nbsp;
                        <span>浙公网安备33010002000120号</span>
                       <span>2003-2017Siuu.COM </span></p>
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- 底部结束-->
<script src="../../lib/jquery/dist/jquery.min.js"></script>
<script src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css">
</body>
<script>
    $('#carousel-example-generic').carousel({
        interval: 1000
    });

    $('.myshop').click(function () {
        $('.nav-con').toggle();
    });
    $('#pro-name').click(function () {
        $('.nav-pro-con').toggle();
    });

</script>
</html>