<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!--
            样式文件插入位置
        -->
        <link rel="stylesheet" href="../style/bootstrap.css">
        <link rel="stylesheet" href="../style/my_coupons.css">
    </head>
    <body>
        <div class="top_menu">
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">

                <div class="container">
                    <div class="row">
                        <div class="navbar-header col-lg-6">
                            <div class="login_register col-lg-5">

                                <span><a href="../../login/loginBefore.html">注册</a></span>
                                <span><a href="../../login/loginBefore.html">登录</a></span>

                            </div>
                            <button type="button" class="navbar-toggle collapsed btnoffset" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                           <img src="../images/logo.png" alt="logo" class="logo_img"/>
                        </div>

                        <div class="collapse navbar-collapse main_menu col-lg-6" id="navbar">
                            <ul class="nav navbar-nav navbar-right ">
                                <li><a href="../../home_page/template/home_page.html">返回首页</a></li>
                                <li><a href="../../cart/template/cart.html">我的购物车</a></li>
                                <li><a href="#">收藏宝贝</a></li>
                                <li><a href="../../security_center/template/security_center.html">个人中心</a></li>
                                <li><a href="#">我的历史宝贝</a></li>
                                <li><a href="#">手机客户端</a></li>
                            </ul>
                        </div>


                    </div>

                </div>

            </nav>

        </div> <!-- top_menu 结束-->


        <div class="manage_mentu ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 mbx_img hidden-xs">
                        <img src="../images/mbx.png.png">
                        <div class="brwidth"></div>
                    </div>


                    <div class="col-lg-1 col-lg-offset-4 mbx_txt mediastyle">
                        <span class="">欢迎您！ 刘小姐</span>
                    </div>

                    <img src="../images/tx.png.png" class="tx_img">

                </div>
            </div>

        </div><!-- manage_mentu 结束-->





        <div class="my_favorite ">
            <div class="container">

                <div class="row">
                        <div class="my_favorite_menu col-lg-3">
                            <ul class="favorite_menu">
                                <li><a href="../../my_order/template/my_order.html">我的订单</a></li>
                                <li><a href="my_coupons.html">我的优惠券</a></li>
                                <li><a href="../../security_center/template/security_center.html">账号安全</a></li>
                                <li><a href="../../my_favorite/template/my_favorite.html">我的收藏</a></li>
                                <li><a href="../../shopping_address/template/shopping_address.html">收货地址</a></li>
                            </ul>
                        </div>

                        <div class="my_favorite_manage col-lg-9">
                            <div class="search_box">

                        </div>


                            <div class="favorite_manage">
                                <p>您的优惠券</p>

                                <ul class="ulcp_imgbox">

                                    <li><img src="../images/y1.png.png" alt="">
                                        <p>调侃时间 3.24</p>
                                    </li>
                                    <li><img src="../images/y1.png.png" alt="">
                                        <p>调侃时间 3.24</p>
                                    </li>
                                    <li><img src="../images/y1.png.png" alt="">
                                        <p>调侃时间 3.24</p>
                                    </li>
                                    <li><img src="../images/y1.png.png" alt="">
                                        <p>调侃时间 3.24</p>
                                    </li>

                                </ul>
                                <ul>



                                </ul>
                            </div>


                            <div class="pages">

                                <nav aria-label="Page navigation ">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true"><img src="../images/zb.png.png" alt=""></span>
                                            </a>
                                        </li>
                                        <li><a href="#">●</a></li>
                                        <li><a href="#">●</a></li>
                                        <li><a href="#">●</a></li>
                                        <li><a href="#">●</a></li>
                                        <li><a href="#"  class="hidden-xs">●</a></li>

                                        <li><a href="#" class="hidden-xs" >●</a></li>
                                        <li><a href="#"  class="hidden-xs">●</a></li>
                                        <li><a href="#"  class="hidden-xs">●</a></li>
                                        <li><a href="#" class="hidden-xs">●</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true"><img src="../images/yb.png.png" alt=""></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>


                            </div>


                            <div class="coupons_manage">
                                <p>历史用卷</p>

                                <ul class="coupons_manage_ul">

                                    <li><img src="../images/y1.png.png" alt="">

                                    </li>
                                    <li><img src="../images/y1.png.png" alt="">

                                    </li>
                                    <li><img src="../images/y1.png.png "  class="hidden-xs"alt="">

                                    </li>
                                    <li><img src="../images/y1.png.png " class="hidden-xs" alt="">

                                    </li>
                                    <li><img src="../images/y1.png.png" class="hidden-xs" alt="">

                                    </li>

                                    <li><img src="../images/y1.png.png"  class="hidden-xs" alt="">

                                    </li>
                                    <li><img src="../images/y1.png.png"  class="hidden-xs" alt="">

                                    </li>
                                    <li><img src="../images/y1.png.png"  class="hidden-xs" alt="">

                                    </li>

                                </ul>

                            </div>



                        </div>
                </div>

            </div>

        </div><!-- my_favorite 结束-->


        <div class="Scene_images hidden-xs">
            <div class="container borderwidth">

                <span class="Scene_text">
                    <h2>猜你喜欢</h2>
                </span>
                <div class="banneri_img">

                    <ul class="banneri_ul">
                        <li><img src="../images/cnxh2.png.png" alt=""></li>
                        <li><img src="../images/cnxh2.png.png" alt=""></li>
                        <li><img src="../images/cnxh1.png.png" alt=""></li>
                        <li><img src="../images/cnxh2.png.png" alt=""></li>
                        <li><img src="../images/cnxh2.png.png" alt=""></li>
                    </ul>
                    <div class="banneri_text">
                        <p>圆领蕾丝清纯气质连衣裙</p>
                        <p>￥568</p>
                    </div>

                </div>

            </div>
        </div><!-- Scene_images 结束-->


        <div class="hint ">
            <div class="container-fluid">
                <div class="init_img hidden-xs">
                    <img src="../images/sz.png.png" alt="">
                </div>

            </div>
            <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            <span class="contact_phone col-lg-2 col-lg-offset-2">
                            </span>

                            <span class="call col-lg-5">
                                <p>020-12345679</p>
                                <p>020-12345679</p>
                                <p>020-12345679</p>
                            </span>
                        </div>

                        <div class=" col-lg-4 col-lg-offset-1 hidden-xs">
                            <span class="wx1 "></span>
                            <span class="wx2 " ></span>

                        </div>

                    </div>
            </div>

        </div><!-- hint 结束-->


        <div class="foot ">
            <div class="container">
                <p class="col-lg-9 col-lg-offset-2">网络文化经营许可证：浙网文[2015]0295-065号
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浙公网安备33010002000120号
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &copy;2003-2017Siuu.Com版权所有</p>
            </div>

        </div> <!-- hint foot-->
    <!--
        脚本文件插入位置
    -->
    <script src="../direction/jquery.js"></script>
    <script src="../direction/bootstrap.js"></script>
    <script src="../direction/my_favorite.js"></script>
    </body>
</html>


