*{
    margin: 0px;
    padding: 0;
}
.nav-top-top{
    padding: 80px 20px 0px  80px;
}
.nav-top{
    width: 100%;
    border-top: 1px solid black;
    background-color: black;
    color: black;
    margin-top: 10px;
}
/*头部结束*/

.mid{
    padding-top: 100px;
}
.mid ul li{
    width: 130px;
    margin-left: 24px;
}
.mid ul li:first-child{
    background-color: #cccccc;
    color: black !important;
}
.pay img{
    float: left;
    padding: 27px 0 12px 9px;
}

.erwei{
    padding-top: 65px;
}
.level{
    border-bottom: 1px solid  #cccccc;
}
.fu{
    padding-top: 12px;
}
/*支付结束*/
.foot{
    padding-top: 167px;
}
/*尾部结束*/
@media  (max-width:768px ){


}