<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>商品列表</title>
    <link rel="stylesheet" href="../style/jquery.fullPage.css">
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style/product_list.css">
</head>
<body>
    <!--导航条开始-->
        <nav class="navbar navbar-default navbar-fixed-top" id="nav-conter">
            <div class="container">
                <div class="row">
                    <div class="login-reg navbar-left col-md-3">
                        <a href="../../login/loginBefore.html">登录</a>&nprcue;
                        <a href="../../login/loginBefore.html">注册</a>
                    </div>
                    <div class="navbar-header  col-md-4">
                        <div class="">
                            <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#bs-example">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <img src="../images/logo.png.png" alt="" class="img-responsive media-object navbar-right">
                        </div>

                    </div>
                    <div class="collapse navbar-collapse navbar-right col-md-5 " id="bs-example">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="../../home_page/template/home_page.html">返回首页</a></li>
                            <li><a href="#">我的店铺</a></li>
                            <li><a href="#">手机店铺</a></li>
                            <li><a href="../../about_us/template/about_us.html">关于我们</a></li>
                            <li><a href="#">帮助中心</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    <!--导航条结束-->
    <!--fullpage开始-->
    <div class="ding"></div>
    <div id="dowebok">
        <!--第一屏开始-->
        <div class="section section1">
            <div class="section1-nav">
                <div class="container">
                    <div class="row" id="section1-nav">
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                    </div>
                </div>
            </div>
            <div class="container section1-text">
                <span class=" section1-p1">樱桃CHERRY201印花款</span><br>
                <span class=" section1-p1"> Looks</span>
            </div>
            <div class="section1-man">
                <div class="section1-tu">
                    <div class="container-fluid">
                        <div class="row">
                            <img src="../images/cnxh2.png.png" alt="" class="img-responsive col-md-2 col-xs-4 ">
                            <img src="../images/cnxh2.png.png" alt="" class="img-responsive col-md-2 col-xs-4">
                            <img src="../images/cnxh2.png.png" alt="" class="img-responsive col-md-2 col-xs-4 ">
                            <img src="../images/cnxh2.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                            <img src="../images/cnxh2.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                            <img src="../images/cnxh2.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                        </div>
                    </div>

                </div>
                <div class="container section1-move">
                    <div class="row">
                        <span class="col-md-6 col-xs-6"><img src="../images/z.png.png" alt="" class="img-responsive navbar-left"></span>
                        <span class="col-md-6 col-xs-6"><img src="../images/y.png.png" alt="" class="img-responsive navbar-right"></span>
                    </div>
                </div>
            </div>

            <div class="container section1-ban">
                <p class="navbar-left">©2003-2017Siuu.COM 版权所有 帮助中心 联系我们 官方首页</p>
                <p class="navbar-right">网络文化经营许可证：浙网文[2015]0295-065号-浙公安备 33011251821542号</p>
            </div>

        </div>
        <!--第一屏结束-->
        <!--第二屏开始-->
        <div class="section section2">
            <div class="section1-nav">
                <div class="container">
                    <div class="row" id="section1-nav">
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                    </div>
                </div>
            </div>
            <div class="container section1-text">
                <span class=" section1-p1">樱桃CHERRY201印花款</span><br>
                <span class=" section1-p1"> Looks</span>
            </div>
            <div class="section1-man">
                <div class="section1-tu">
                    <div class="container-fluid">
                        <div class="row">
                            <img src="../images/cnxh1.png.png" alt="" class="img-responsive col-md-2 col-xs-4 ">
                            <img src="../images/cnxh1.png.png" alt="" class="img-responsive col-md-2 col-xs-4">
                            <img src="../images/cnxh1.png.png" alt="" class="img-responsive col-md-2 col-xs-4 ">
                            <img src="../images/cnxh1.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                            <img src="../images/cnxh1.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                            <img src="../images/cnxh1.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                        </div>
                    </div>

                </div>
                <div class="container section1-move">
                    <div class="row">
                        <span class="col-md-6 col-xs-6"><img src="../images/z.png.png" alt="" class="img-responsive navbar-left"></span>
                        <span class="col-md-6 col-xs-6"><img src="../images/y.png.png" alt="" class="img-responsive navbar-right"></span>
                    </div>
                </div>
            </div>

            <div class="container section1-ban">
                <p class="navbar-left">©2003-2017Siuu.COM 版权所有 帮助中心 联系我们 官方首页</p>
                <p class="navbar-right">网络文化经营许可证：浙网文[2015]0295-065号-浙公安备 33011251821542号</p>
            </div>
        </div>
        <!--第二屏结束-->
        <!--第三屏开始-->
        <div class="section section3">
            <div class="section1-nav">
                <div class="container">
                    <div class="row" id="section1-nav">
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                    </div>
                </div>
            </div>
            <div class="container section1-text">
                <span class=" section1-p1">樱桃CHERRY201印花款</span><br>
                <span class=" section1-p1"> Looks</span>
            </div>
            <div class="section1-man">
                <div class="section1-tu">
                    <div class="container-fluid">
                        <div class="row">
                            <img src="../images/dzs.png.png" alt="" class="img-responsive col-md-2 col-xs-4 ">
                            <img src="../images/dzs.png.png" alt="" class="img-responsive col-md-2 col-xs-4">
                            <img src="../images/dzs.png.png" alt="" class="img-responsive col-md-2 col-xs-4 ">
                            <img src="../images/dzs.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                            <img src="../images/dzs.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                            <img src="../images/dzs.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                        </div>
                    </div>

                </div>
                <div class="container section1-move">
                    <div class="row">
                        <span class="col-md-6 col-xs-6"><img src="../images/z.png.png" alt="" class="img-responsive navbar-left"></span>
                        <span class="col-md-6 col-xs-6"><img src="../images/y.png.png" alt="" class="img-responsive navbar-right"></span>
                    </div>
                </div>
            </div>

            <div class="container section1-ban">
                <p class="navbar-left">©2003-2017Siuu.COM 版权所有 帮助中心 联系我们 官方首页</p>
                <p class="navbar-right">网络文化经营许可证：浙网文[2015]0295-065号-浙公安备 33011251821542号</p>
            </div>
        </div>
        <!--第三屏结束-->
        <!--第四屏开始-->
        <div class="section section4">
            <div class="section1-nav">
                <div class="container">
                    <div class="row" id="section1-nav">
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                        <div class="col-md-2 col-sm-3 col-xs-6 navbar-left"><a href="#">2017印花款(2356)</a></div>
                    </div>
                </div>
            </div>
            <div class="container section1-text">
                <span class=" section1-p1">樱桃CHERRY201印花款</span><br>
                <span class=" section1-p1"> Looks</span>
            </div>
            <div class="section1-man">
                <div class="section1-tu">
                    <div class="container-fluid">
                        <div class="row">
                            <img src="../images/cp1.png.png" alt="" class="img-responsive col-md-2 col-xs-4 ">
                            <img src="../images/cp1.png.png" alt="" class="img-responsive col-md-2 col-xs-4">
                            <img src="../images/cp1.png.png" alt="" class="img-responsive col-md-2 col-xs-4 ">
                            <img src="../images/cp1.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                            <img src="../images/cp1.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                            <img src="../images/cp1.png.png" alt="" class="img-responsive col-md-2 col-xs-4 hidden-xs">
                        </div>
                    </div>
                </div>
                <div class="container section1-move">
                    <div class="row">
                        <a class="col-md-6 col-xs-6"><img src="../images/z.png.png" alt="" class="img-responsive navbar-left"></a>
                        <a class="col-md-6 col-xs-6"><img src="../images/y.png.png" alt="" class="img-responsive navbar-right"></a>
                    </div>
                </div>
            </div>

            <div class="container section1-ban">
                <p class="navbar-left">©2003-2017Siuu.COM 版权所有 帮助中心 联系我们 官方首页</p>
                <p class="navbar-right">网络文化经营许可证：浙网文[2015]0295-065号-浙公安备 33011251821542号</p>
            </div>
        </div>
        <!--第四屏结束-->
    </div>
    <!--fullpage结束-->
</body>
<script  src="../../lib/jquery/dist/jquery.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/jquery.fullPage.min.js"></script>
<script src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $('#dowebok').fullpage();
    });
</script>
</html>